<%=  content_for :tab, :pets %>
<p id="notice"><%= notice %></p>

<% content_for :content do %>

<h1>Mes Animaux</h1>

<p class="text-left">
  <a href="<%= new_pet_path %>" class="waves-effect waves-light btn teal accent-3"><i class="material-icons left">pets</i>Ajouter un animal</a>
</p>

<table class="table highlight">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Photo</th>
      <th>Sexe</th>
      <th>Age</th>
      <th>Espèce</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><img src="<%= pet.image_url(:thumb) %>" alt=""></td>
        <td><%= pet.gender %></td>
        <td><%= pet.age %></td>
        <td><%= pet.species.name %></td>
        <td> <a href="<%= pet_path(pet.id) %>" class="waves-effect waves-light btn light-blue" >Voir</a> </td>
        <% if user_signed_in? && current_user.id === pet.user_id %>
          <td> <a href="<%= edit_pet_path(pet) %>" class="waves-effect waves-light btn cyan" >Modifier</a> </td>
          <td> <a href="<%= pet_path(pet.id) %>" class="waves-effect waves-light btn red" data-method="delete" data-confirm="Êtes vous sur de vouloir supprimer <%= pet.name %>">Supprimer</a> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



<% end %>

<%= render template: 'layouts/profile' %>
