<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<% if @pet.image %>
  <p>
    <strong>Photo:</strong>
  <img src="<%= @pet.image_url(:large) %>" alt="<%= @pet.name %>">
</p>
<% end %>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @pet.birthday %>

</p>

<p>
  <strong>User:</strong>
  <%= @pet.user.username %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species.name %>
</p>

<%= link_to 'Modifier', edit_pet_path(@pet) %> |
<%= link_to 'Retour', pets_path %>
