<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @pet.image_url(:large) %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @pet.birthday %>
 
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user.username %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species.name %>
</p>

<%= link_to 'Modifier', edit_pet_path(@pet) %> |
<%= link_to 'Retour', pets_path %>
