<%= simple_form_for post do |f| %>

  <% if @post.photo? %>
  <p>
    <%= image_tag @post.photo_url %>
  </p>
  <% end %>
  <%= f.input :photo, as: :file %>
  <%= f.input :name %>
  <%= f.input :content %>
  <%= f.select :pet_ids, Pet.pluck(:name, :id), {}, multiple: true %>
  <%= f.button :submit, post.new_record? ? 'Créer' : 'Modifier', class: 'waves-effect waves-light btn blue grey-text text-lighten-5' %>

<% end %>
