<%=  content_for :tab, :posts %>
<% content_for :content do %>

<h1>Mes abonnements</h1>

	<div class="row">
		<% @posts.each do |post| %>
			<div class="card grey lighten-3 hoverable col m6 bt">
				<div class="card-image waves-effect waves-block waves-light">
			    	<img class="activator" src="<%= post.photo_url %>" style="max-width: 400px;">
				</div>
				<div class="card-content">
			    	<span class="card-title activator grey-text text-darken-4"><%= post.name %><i class="material-icons medium teal-text right">add_circle</i></span>
				</div>
				<div class="card-reveal grey lighten-3">
			    	<span class="card-title grey-text text-darken-4"><%= post.name %><i class="material-icons right">close</i></span>
			    	<p><%= post.content %></p>
			    	<a href="<%= post_path(post.id) %>" class="waves-effect waves-light btn-small light-blue">Aller à l'article</a>
				</div>
			</div>
		<% end %>
	</div>

<% end %>

	<%= render template: 'layouts/profile' %>


