<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% content_for :content do %>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3><%= post.name %></h3>
        </div>
        <div class="card-body posts">
          <% if post.photo %>
            <div>
              <img src="<%= post.photo_url(:thumb) %>">
            </div>
          <% end %>
          <p><%= post.content %></p>
          <p>Par : <%= post.user.username %></p>
          <div>
            <h4>sur cet article :</h4>
              <% post.pets.each do |pet| %>
                <a href="<%= pet_path(pet) %>" class="badge badge-pill badge-primary"><%= pet.name %></a>
              <%end%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>






<br>

  <%= link_to 'New Post', new_post_path %>

  <% end %>
  <%= render template: 'layouts/profile' %>
