<p id="notice"><%= notice %></p>
<% content_for :content do %>

<h1>Tous les articles</h1>

<p class="text-left">
  <a href="<%= new_post_path %>" class="waves-effect waves-light btn purple accent-3"><i class="material-icons left">thumb_up</i>Ajouter un article</a>
</p>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="<%= post.photo_url %>" style="max-width: 400px;">
          <span class="card-title"><%= post.name %></span>
        </div>
        <div class="card-content">
          <p><%= post.content %></p>
          <p>Par : <%= post.user.username %></p>
        </div>
        <div class="card-action">
          <a href="<%= post_path(post.id) %>">Voir l'article</a>
          <p>sur cet article :</p>
            <% post.pets.each do |pet| %>
              <a href="<%= pet_path(pet) %>" class="waves-effect waves-light btn light-blue"><%= pet.name %></a>
            <%end%>
        </div>
      </div>
    </div>
   <% end %>
  </div>

<br>

  <% end %>
  <%= render template: 'layouts/profile' %>
