<p id="notice"><%= notice %></p>

<p>
  <% if @post.photo %>
    <strong>Photo:</strong>
    <img src="<%= @post.photo_url %>" alt="<%= @post.name %>">
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>

<div>
  <% @post.pets.each do |pet| %>
    <div class="container">
      <h4>sur cet article :</h4>
      <a href="<%= pet_path(pet) %>">
        <span class="badge teal grey-text text-lighten-5"><%= pet.name %></span>
      </a>
    </div>
	<%end%>
</div>
<br>
<br>

<div class="container">
  <%= link_to 'Retour aux articles', posts_path, class: 'waves-effect waves-light btn light-blue' %>
</div>
