<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <img src="<%= @post.photo_url(:large) %>" alt="<%= @post.name %>">
</p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>

<div>
	<h4>sur cet article :</h4>
	<% @post.pets.each do |pet| %>
		<a href="<%= pet_path(pet) %>" class="badge badge-pill badge-primary"><%= pet.name %></a>
	<%end%>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
