<div class="container">
  <div class="page-header text-center">
    <h1 class="grey-text text-darken-5">
      <strong> <%= @post.name %></strong>
    </h1>
  </div>
  <div class="posts">
    <img src="<%= @post.photo_url %>" alt="<%= @post.name %>" class="show" >
  </div>
  <div class="row">
    <div class="col s12 m4" >
      <h4 class="teal-text">
        Par : <strong><%= @post.user.username %></strong>
      </h4>
    </div>
    <div class="col s12 m4" >
      <h4 class="text-center teal-text">Description</h4>
      <p class="grey-text text-darken-5"> <%= @post.content %></p>
    </div>
    <div class="col s12 m4" >
      <h4 class="teal-text">sur cette photo :</h4>
      <% @post.pets.each do |pet| %>
        <a href="<%= pet_path(pet) %>" class="btn blue grey-text text-lighten-5"><%= pet.name %></a>
      <%end%>
  </div>
</div>


</div>