<!DOCTYPE html>
<html>
  <head>
    <title>Petsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


	<div class="container">
		<% if flash[:notice] || flash[:success] %>
			<div class="alert alert-success">
				<%= flash[:notice] || flash[:success] %>
			</div>
		<% end %>

		<% if flash[:alert] || flash[:danger]%>
			<div class="alert alert-danger">
				<%= flash[:alert] || flash[:danger] %>
			</div>
		<% end %>
	</div>




    
    <div class="container">
    	<div class="row">
    		<div class="container col-md-6">
				<a href="<%= posts_path %>" class="btn btn-primary btn-lg btn-block">voir tous les articles</a>
    		</div>
    	</div>
    	<%= yield %>
    </div>
  





	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
