<div class="row">
  <div class="col-md-8">
    <%= yield(:content) %>
  </div>
  <div class="col-md-4">
    <div class="list-group">
    	<% if user_signed_in? %>
     		 <a href="<%= pets_path %>" class="list-group-item<%= yield(:tab) == 'pets' ? ' active' : '' %>">Mes animaux</a>
         <a href="<%= posts_path %>" class="list-group-item<%= yield(:tab) == 'posts' ? ' active' : '' %>">Mes Articles</a>
     		 <a href="<%= edit_user_registration_path %>" class="list-group-item<%= yield(:tab) == 'profil' ? ' active' : '' %>">Mon compte</a>
		<% end %>
    </div>
  </div>
</div>
