<div class="row">
  <div class="col m8">
    <%= yield(:content) %>
  </div>
  <div class="col m4">
    <div class="collection">
    	<% if user_signed_in? %>
     		 <a href="<%= pets_path %>" class="collection-item <%= yield(:tab) == 'pets' ? '' : '' %>">Mes animaux</a>
         <a href="<%= me_posts_path %>" class="collection-item <%= yield(:tab) == 'posts' ? '' : '' %>">Mes Articles</a>
         <a href="<%= follow_posts_path %>" class="collection-item <%= yield(:tab) == 'posts' ? '' : '' %>">My Followed posts</a>
     		 <a href="<%= edit_user_registration_path %>" class="collection-item <%= yield(:tab) == 'profil' ? '' : '' %>">Mon compte</a>
		<% end %>
    </div>
  </div>
</div>
